// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Enable responsive font sizes in Bootstrap
// https://getbootstrap.com/docs/4.3/content/typography/#responsive-font-sizes
$enable-responsive-font-sizes: true;

// https://colorhunt.co/palette/1504
$theme-color-one: #011f4b;
$theme-color-two: #03396c;
$theme-color-three: #005b96;
$theme-color-four: #6497b1;
$theme-color-five: #b3cde0;
$theme-color-logo: #ca614b;
