body {
    -webkit-font-smoothing: antialiased;
}

.navbar-brand img {
    height: 3rem;
}

#top-site-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 4rem;
    background-color: transparent;
}

.home-main .jumbotron {
    background-color: #02a8a8;
    color: #fff;
    /* argyle pattern - https://leaverou.github.io/css3patterns/#argyle */
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
    min-height: 90vh;
    padding-top: 8rem;
    margin-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

h1.display-4 {
    text-align: center;
}
