body {
    -webkit-font-smoothing: antialiased;
}


.navbar-brand img {
    height: 3rem;
}

#top-site-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 4rem;
    /* color: rgba(0, 0, 0, 0.3); */
}

.home-main {
    padding-top: 4rem;
    background-color: #02a8a8;
}

.home-main .jumbotron {
    background-color: transparent;
    color: #fff;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
